.formArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 100 1.5rem 'Montserrat', Arial;
}

.modalContainer{
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
}

.goLogin{
    width: 13rem;
}

.formSpace{
    background-color: #e7eaec;
    padding: 5rem 3rem 5rem 3rem;
    color: #141414;
    width: 30rem;

    box-shadow: 4px 3px 15px 0px #000000;

    border-radius: 5px;
}

.formSpace > Form{
    border-left: 3px solid #1C6EA4;
    padding-left: 1rem;
}

input::placeholder{
    color: #646262;
}

label{
    color: #141414;
}

.buttonContaier{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.enter{
    width: 10rem;
    background-color: #26a69a;
}

.enter:hover{
    background-color: #053a35;
} 

.goHome{
    background-color: #e0ca00;
}

.goHome:Hover{
    background-color: rgb(136, 123, 4);
}

@media only screen and (max-width: 1590px){
    .buttonContaier{
        flex-direction: column;
    }
}

@media only screen and (max-width: 460px){
    .buttonContaier{
        flex-direction: column;
    }

     .enter, .goHome{
        width: 20rem;
    }

    .enter{
        margin-bottom: 1rem;
    }

    .goLogin{
        margin-bottom: 1rem;
    }
}